*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.visible-xs{
    visibility: hidden;
}


  a{
    text-decoration: none;
  }
  .navbar{
    background-color: rgb(2, 2, 70);
    
  }
  .navbar-brand{
    font-weight: 600;   
    font-size: 35px;
  }
  .chicken{
      display: block;
      text-align: center;
      color: white;
      padding: 10px 0;
      font-size: 20px;
  }
  .chicken:hover{
      background-color: rgb(172, 208, 241);
      color: rgb(2, 2, 70);
  }
 .navbar-dark .navbar-toggler{
     border-color: white;
     color: white;
 }
#navbarSupportedContent{
    /* background-color: rgb(7, 7, 107); */
    border: white solid 3px;
}
hr{
    margin: 0;
    color: white;
}
section h1{
    text-align: center;
    margin: 10px auto;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
section h3{
    font-size: 25px;
    color: seashell;
}
body{
    background-color: rgb(172, 208, 241);
}
.inner{
    background-color: rgb(2, 2, 70);
    color: rgb(172, 208, 241);
    padding: 10px;
    margin-bottom: 20px;
}

  @media (max-width: 575px) {
    .visible-xs{
        visibility: visible;
    }
    .col-xs-12{
        flex: 0 0 auto;
        width: 100%;
      }
  }
  .inner a{
      color: blue;
      font-size: larger;
      font-weight: 900;
      text-decoration: underline;
  }